<!DOCTYPE html>
<html ng-app="MyApp">
    <head>

    </head>
    <body>
        <div class="register">
            <button ng-click="newuser()">Submit</button>
            <p>Name: </p>
            <input type="text" ng-model="selectedUserN"><br>
            <p>Surname: </p>
            <input type="text" ng-model="selectedUserS"><br>
            <p>Email: </p>
            <input type="text" ng-model="selectedEmail"><br>
            <p>password: </p>
            <input type="text" ng-model="selectedPassword"><br>
        </div>

        <div class="login">
            <button ng-click="userlog">Submit</button>
            <p>Name</p>
            <input type="text" ng-model="selectedUserL"><br>
            <p>Password</p>
            <input type="text" ng-model="selectedPas">
        </div>
    </body>
</html>
